#agenda {

  .content {
      font-size: 0.9em;
    ul {
      list-style: none;
      display: block;
      padding: 0;
      margin: 0;

      li {
        padding: 5px 0;
        border-bottom: 1px solid $primary-color;
        text-align: left;
        min-height: 50px;
        overflow: hidden;

        &:first-child {
          border-top: 2px solid $primary-color;
        }

        &:last-child {
          border-bottom: 2px solid $primary-color;
        }

        .time-slot, .session {
          position: relative;
          display: block;
          float: left;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .time-slot {
          border-bottom: 0.5px dotted $primary-color;

          @media only screen and (min-width: 768px) {
            width: 25%;
            border-bottom: none;
          }
        }

        .session {
          @media only screen and (min-width: 768px) {
            width: 73%;
            border-left: 0.5px dotted $primary-color;
            padding-left: 2%
          }
        }
      }
    }
  }
}