section(id='about', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h3.title
        | Why This Event Is Super Cool?
    p.content
        | We are celebrating Visual Studio’s 20th Anniversary, join us on March 18<sup>th</sup> to learn more about Visual Studio 2017, .NET Core, ASP.NET Core,
        | Xamarin, Visual Studio Mobile Center, Visual Studio Code, Visual Studio Team Services and
        | DevOps from best in class expert speakers from Community, Microsoft MVPS and Microsoft.
        br
        br
hr