section(id='agenda', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3.title
                | Agenda
            div.content
                ul
                    li
                        time.time-slot
                            | 08:30am - 09:45am
                        .session
                            | Registration
                    li
                        time.time-slot
                            | 09:50am - 10:00am
                        .session
                            | Introduction
                            br
                            |&#32;-&#32;
                            a(href='speakers.html#shravan', target='_self') Shravan Kumar Kasagoni
                            |,&#32;Novartis
                    li
                        time.time-slot
                            | 10:00am - 10:20am
                        .session
                            | Keynote
                            br
                            |&#32;-&#32;
                            a(href='speakers.html#ritesh', target='_self') Ritesh Modi
                            |,&#32;Microsoft
                    li
                        time.time-slot
                            | 10:20am - 11:20am
                        .session
                            | A Quick Lap Around Visual Studio 2017
                            br
                            |&#32;-&#32;
                            a(href='speakers.html#abhijitjana', target='_self') Abhijit Jana
                            |,&#32;Microsoft
                    li
                        time.time-slot
                            | 11:20am - 11:30am
                        .session
                            | Break
                    li
                        time.time-slot
                            | 11:30am - 12:20pm
                        .session
                            | Working with C# 7.0 in Visual Studio 2017
                            br
                            |&#32;-&#32;
                            a(href='speakers.html#prakash', target='_self') Prakash Tripathi
                            |,&#32;Deloitte
                    li
                        time.time-slot
                            | 12:20pm - 01:10pm
                        .session
                            | Visual Studio Tools for Xamarin
                            br
                            | &#32;-&#32;
                            a(href='speakers.html#vipul', target='_self') Vipul
                            | ,&#32;Microsoft
                            | &#32; and &#32;
                            a(href='speakers.html#harwinder', target='_self') Harwinder
                            | ,&#32;RBEI
                    li
                        time.time-slot
                            | 01:10pm - 02:10pm
                        .session
                            | LUNCH
                    li
                        time.time-slot
                            | 02:10pm - 02:45pm
                        .session
                            | Docker with Visual Studio 2017
                            br
                            | &#32;-&#32;
                            a(href='speakers.html#srikar', target='_self') Srikar Ananthula
                            | ,&#32;Turvo
                    li
                        time.time-slot
                            | 02:45pm - 03:35pm
                        .session
                            | What's new in Xamarin and Mobile Center
                            br
                            |&#32;-&#32;
                            a(href='speakers.html#sekhar', target='_self') Sekhar Srinivas
                    li
                        time.time-slot
                            | 03:35pm - 03:45pm
                        .session
                            | Break
                    li
                        time.time-slot
                            | 03:45pm - 04:20pm
                        .session
                            | Azure Development in Visual Studio 2017
                            br
                            | &#32;-&#32;
                            a(href='speakers.html#raghuram', target='_self') Raghuram Korukonda
                            |,&#32;BrainScale
                    li
                        time.time-slot
                            | 04:20pm - 05:20pm
                        .session
                            | Building web apps powered by ASP.NET Core and Angular 2.x using Visual Studio 2017
                            br
                            |&#32;-&#32;
                            a(href='speakers.html#shravan', target='_self') Shravan Kumar Kasagoni
                            |,&#32;Novartis
                    li
                        time.time-slot
                            | 05:20pm - 05:30pm
                        .session
                            | Closing Note
                            br
                            |&#32;-&#32;
                            a(href='http://mugh.net/index.html#team', target='_self') MUGH Team
