section(id='agenda', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3.title
                | Agenda
            div.content
                ul
                    li
                        time.time-slot
                            | 08:30am - 09:40am
                        .session
                            | Registration
                    li
                        time.time-slot
                            | 09:45am - 09:50am
                        .session
                            | Introduction
                            br
                            |  - 
                            a(href='speakers.html#shravan', target='_self') Shravan Kumar Kasagoni,
                            |&#32;Novartis
                    li
                        time.time-slot
                            | 09:50am - 10:05am
                        .session
                            | Keynote
                            br
                            | -
                            a(href='#', target='_self') Ritesh Modi,
                            |&#32;Microsoft
                    li
                        time.time-slot
                            | 10:05am - 11:05am
                        .session
                            | VS2017 - Session 1
                            br
                            //|  - 
                            //a(href='speakers.html#shravan', target='_self') Shravan Kumar Kasagoni
                            //|, MVP
                    li
                        time.time-slot
                            | 11:05am - 11:15am
                        .session
                            | Break
                    li
                        time.time-slot
                            | 11:15am - 12:15pm
                        .session
                            | VS2017 - Session 2
                            br
                            //|  - 
                            //a(href='speakers.html#shravan', target='_self') Shravan Kumar Kasagoni
                    li
                        time.time-slot
                            | 12:15pm - 01:15pm
                        .session
                            | VS2017 - Session 3
                            br
                            //|  - 
                            //a(href='speakers.html#ravikiran', target='_self') Ravi Kiran
                    li
                        time.time-slot
                            | 01:15pm - 02:15pm
                        .session
                            | LUNCH
                    li
                        time.time-slot
                            | 02:15pm - 03:15pm
                        .session
                            | VS2017 - Session 4
                            br
                            //|  - 
                            //a(href='speakers.html#krishna', target='_self') Krishna Chaitanya
                    li
                        time.time-slot
                            | 03:15pm - 04:15pm
                        .session
                            | VS2017 - Session 5
                            br
                            //|  - 
                            //a(href='speakers.html#pranav', target='_self') Pranav Ainavolu,
                    li
                        time.time-slot
                            | 04:15pm - 04:25pm
                        .session
                            | Break
                    li
                        time.time-slot
                            | 04:25pm - 05:25pm
                        .session
                            | VS2017 - Session 6
                            br
                            //|  - 
                            //a(href='speakers.html#charul', target='_self') Charul Pant
                    li
                        time.time-slot
                            | 05:25pm - 05:30pm
                        .session
                            | Closing Note
                            br
                            |  - 
                            a(href='http://mugh.net/index.html#team', target='_self') MUGH Team
