section(id='registration', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h3.title Registration
                div.content
                    iframe(src='//eventbrite.com/tickets-external?eid=32003762114&ref=etckt', frameborder='0', height='300', width='100%', vspace='0', hspace='0', marginheight='5', marginwidth='5', scrolling='auto', allowtransparency='true')
hr
