section(id='venue', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .main-content
                h3.title Venue
                p.content
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.6286434462045!2d78.33883071493324!3d17.429600356173825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9382e6297593%3A0x452c5be4371247de!2sMicrosoft+Campus+Building+3%2C+Gachibowli%2C+Hyderabad%2C+Telangana+500032%2C+India!5e0!3m2!1sen!2sus!4v1489413893658', frameborder='0', style='border:0', allowfullscreen='')
hr